<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	
	<typeAliases>
		<typeAlias type="kr.or.ddit.member.model.MemberVO" alias="MemberVO"/>
		<typeAlias type="kr.or.ddit.common.model.PageVO" alias="PageVO"/>
		<typeAlias type="kr.or.ddit.batch.yogurt.model.CycleVO" alias="cycleVO"/>
		<typeAlias type="kr.or.ddit.batch.yogurt.model.DailyVO" alias="dailyVO"/>
	</typeAliases>


  
  
	<mappers>
		<mapper resource="kr/or/ddit/config/db/mapper/member.xml"/>
		<mapper resource="kr/or/ddit/config/db/mapper/yogurt.xml"/>
	</mappers>
  
  
</configuration>